.root {
  margin: 0 auto;
  width: 100%;

  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: white;
  transition: transform 0.2s linear;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    position: relative;
  }

  &_switcher {
  }

  &_logo {
    position: absolute;
    left: calc(50% - 20px);

    svg {
      width: 40px;
      height: auto;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &_hide {
    transform: translateY(calc(0px - var(--height-header)));
  }
}
