.root {
  margin: 0 auto;
  width: 100%;

  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  transition: transform 0.2s linear;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-hotizontal-mobile);

    position: relative;
    z-index: 3;
  }

  &_switcher {
  }

  &_logo {
    position: absolute;
    left: calc(50% - var(--padding-hotizontal-mobile));
    z-index: 4;

    svg {
      width: 40px;
      height: auto;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &_hide {
    transform: translateY(calc(0px - var(--height-header)));
  }

  &__search {
    position: absolute;
    top: var(--height-header);
    left: 0;

    width: 100%;
    padding: 10.5px var(--padding-hotizontal-mobile);

    transition: transform 0.2s linear;

    &_input {
      width: 100%;
      border: 1px solid;
      border-radius: 4px;
      padding: 4px 16px;
    }

    &_btn {
      position: absolute;
      right: 32px;
      top: 18px;
    }
  }
  &_searchHide {
    transform: translateY(calc(0px - var(--height-header)));
    z-index: -3;
  }
}
[data-theme="light"] .root__search {
  background-color: var(--color-light);
}
[data-theme="dark"] .root__search {
  background-color: var(--color-dark);
}
