@import "../../styles/variables";

.root {
  line-height: normal;
  text-transform: uppercase;
  border-radius: $borderRadiusBtn;
  padding: 7px 14px;

  transition: $linkTransition;
  cursor: pointer;

  &:hover {
    background-color: var(--color-brown) !important;
    color: var(--color-light);
  }
}

[data-theme="light"] .root {
  background-color: $heroBgColorLight;
}
[data-theme="dark"] .root {
  background-color: $heroBgColorDark;
}
