$heroBgColorLight: rgb(241, 242, 243);
$heroBgColorDark: rgb(51, 52, 53);
$filtersBgColor: rgba(225, 226, 227, 0.5);
$filtersBgColorDark: rgb(51, 52, 53);
$deactiveColor: #909097;

$linkTransition: 0.3s ease-in-out;

$borderRadiusCard: 8px;
$borderRadiusBtn: 6px;
$borderRadiusInput: 4px;
