@import "../../styles/variables";

.root {
  width: 100%;
  padding: 32px var(--padding-hotizontal-mobile);

  &__section {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    font-weight: 500;
  }

  &_link {
    line-height: 1;
    opacity: 0.8;
    transition: opacity $linkTransition;

    &:hover {
      opacity: 1;
    }
  }
}
