@import "../../styles/variables";

.root {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px var(--padding-hotizontal-mobile);
  margin-bottom: 50px;
  width: 100%;

  &__btns {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &_filters {
      line-height: normal;
    }

    &_filters,
    details {
      text-transform: uppercase;
      border-radius: 6px;
      padding: 7px 14px;
      cursor: pointer;
    }
  }

  &__container {
    position: relative;
    min-height: 34px;
  }

  &__details {
    position: absolute;
    width: max-content;

    summary {
      list-style: none;

      svg {
        margin-left: 8px;
        transition: transform $linkTransition;
      }
    }

    summary,
    &__content {
      display: grid;
      grid-template-columns: 86px auto;
      row-gap: 6px;
    }

    &__content {
      padding-top: 10px;

      li {
        grid-column-start: 2;

        button {
          line-height: normal;
          text-transform: uppercase;
          transition: text-decoration $linkTransition;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &:hover svg {
      transform: rotate(-180deg);
    }
  }

  &_count {
  }
}

[data-theme="light"] .root__btns_filters {
  background-color: $heroBgColorLight;
}
[data-theme="light"] .root__btns details {
  background-color: $heroBgColorLight;
}

[data-theme="dark"] .root__btns_filters {
  background-color: $heroBgColorDark;
}
[data-theme="dark"] .root__btns details {
  background-color: $heroBgColorDark;
}
