@import "../../styles/variables";

.root {
  &__imgs {
    width: 100%;
    border: 1px solid $deactiveColor;

    @media (min-width: 1023px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__img {
    position: relative;
    display: flex;
    border-bottom: 1px solid $deactiveColor;

    img {
      width: 100%;
    }

    &:last-child {
      border-bottom: none;
    }
  }
  &_counter {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--color-dark);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_price {
      font-weight: 400;
      font-size: 24px;
    }

    &__info {
      p {
        max-height: 40px;
        overflow: hidden;
      }
    }

    &_btn {
      text-decoration: underline;
    }

    @media (min-width: 1023px) {
      position: sticky;
      top: var(--height-header);
      align-self: start;
    }
  }

  &_subtitle {
    display: block;
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  &__color {
    &_view {
      position: relative;
      width: 2rem;
      height: 2rem;

      border: 1px solid;
      border-radius: 6px;

      span {
        position: absolute;
        top: calc(100% - 1.5rem);
        left: calc(2rem + 6px);
        visibility: hidden;

        transition: 0.2s ease-in-out;
      }

      &:hover span {
        visibility: visible;
      }
    }

    [data-theme="dark"] &_view {
      box-shadow: inset 0 0 0 2px var(--color-dark);
    }
    [data-theme="light"] &_view {
      box-shadow: inset 0 0 0 2px var(--color-light);
    }
  }

  &_btn {
    line-height: normal;
    text-transform: uppercase;
    transition: $linkTransition;
    padding: 6px 4px;
    border-radius: $borderRadiusBtn;

    &:hover {
      opacity: 0.8;
    }
  }

  [data-theme="dark"] &_btn {
    background-color: $heroBgColorLight;
    color: var(--color-dark);
  }

  [data-theme="light"] &_btn {
    background-color: $heroBgColorDark;
    color: var(--color-light);
  }

  &__sizesInfo {
    &__sizes {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100% / 3, max(64px, 100% / 7)), 1fr)
      );
      gap: 6px;
    }
  }
}
