.root {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 16px;

  input {
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid;
  }

  &__submit {
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    justify-content: center;

    @media (min-width: 536px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &_submit {
    line-height: normal;
    width: 50%;
  }

  @media (min-width: 536px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
