*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::selection {
    background: #897f7b;
    color: var(--color-light);
  }
  &::-moz-selection {
    background: #897f7b;
    color: var(--color-light);
  }
  &::-webkit-user-select {
    background: #897f7b;
    color: var(--color-light);
  }
}

// html {
//   transition: color-scheme 0.8s linear;
// }

[details-content] {
  transition: all 1s linear;
}

:root {
  --index: calc(1vw + 1vh);
  --color-dark: #121212;
  --color-light: #ffffff;
  --color-brown: #897f7b;
  --swiper-theme-color: var(--color-dark);
  --color-scrollbar-track: rgb(225, 226, 227);

  --height-header: 56px;
  --max-height-filters: 60vh;
  --padding-hotizontal-mobile: 20px;
  --padding-hotizontal-desktop: 10%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-top: var(--height-header);
}

[data-theme="light"] body {
  color: var(--color-dark);
  background-color: var(--color-light);
}

[data-theme="light"] nav {
  background-color: var(--color-light);
}

[data-theme="dark"] nav {
  background-color: var(--color-dark);
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  border: none;
  line-height: 0;
  cursor: pointer;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

[data-theme="light"] .logo path {
  fill: var(--color-dark);
}
