@import "../../styles/variables";

.root {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  border-radius: $borderRadiusCard;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60%;
  }

  &_subtitle {
  }

  &_title {
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
  }

  &_price {
    font-weight: 700;
  }

  &_img {
    width: 40%;
  }
}

[data-theme="light"] .root {
  background-color: $heroBgColorLight;
}

[data-theme="dark"] .root {
  background-color: $heroBgColorDark;
}
