@import "../../styles/variables";
@import "../../styles/animations";

.root {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
  max-height: var(--max-height-filters);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;

  border-top-right-radius: $borderRadiusCard;
  border-top-left-radius: $borderRadiusCard;
  background-color: $filtersBgColor;
  backdrop-filter: blur(3rem);

  text-transform: uppercase;
  transition: 0.7s linear;

  &_moveMe {
    height: 20px;
    cursor: pointer;

    hr {
      width: 100px;
      height: 6px;
      background-color: currentColor;
      border-radius: $borderRadiusBtn;

      margin: calc((20px - 6px) / 2) calc((100% - 100px) / 2);
    }
  }

  &_title {
    font-weight: 500;
    padding-bottom: 28px;
  }

  &__container {
    border-bottom: 1px solid;
    padding: 4px 0;

    &:first-of-type {
      border-top: 1px solid;
    }
  }

  &__details {
    summary {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      width: 100%;

      cursor: pointer;

      // svg {
      //   width: 8px;
      //   height: 8px;
      // }
    }
    &_svg {
      width: 8px;
      height: 8px;
      background-size: contain;
      background-image: url("/img/plus.svg");
    }

    &__content {
      padding: 30px 0;
      // overflow: auto;
      opacity: 0;

      &_child {
        width: fit-content;
      }
    }
  }

  &_clearAll {
    margin-top: 30px;
    max-width: 400px;
    width: 100%;
    align-self: center;
  }

  &__details[open] &__details__content {
    animation: fadeIn 1s linear forwards;
  }
  &__details[open] &__details_svg {
    background-image: url("/img/minus.svg");
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
    border-radius: $borderRadiusCard;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-brown);
    border-radius: $borderRadiusCard;
    border: 3px solid var(--color-scrollbar-track);
  }
}
